* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'Monocraft';
    src: url('https://cdn.jsdelivr.net/gh/IdreesInc/Monocraft@main/dist/Monocraft-ttf/Monocraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.layout-dashboard {
    display: flex;
    flex: 1;
    min-height: 100vh;
}

.sidebar {
    position: fixed;
    z-index: 999;
    height: 100vh;
    background-color: whitesmoke;
    color: black;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.conteudo-principal {
    flex: 1;
    padding: 20px;
    margin-left: 250px; /* Garante que o conteúdo não fique escondido atrás da sidebar fixa */
}

.hello {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px auto 20px auto;
}

.hello h3 {
    color: black;
    font-weight: 300;
    font-size: 1.2rem;
}

.hello h3 span {
    font-weight: 800;
}

.aba {
    padding: 10px;
    width: 200px;
    margin: 20px;
    text-align: center;
    font-size: large;
    list-style: none;
}

.aba a {
    text-decoration: none;
    color: black;
}

.aba:hover {
    border-radius: 10px;
    border: solid rgba(0, 0, 0, 0.54) 3px;
}

.botao-sair {
    margin-top: auto;
    margin-bottom: 20px;
}

.btn-sair {
    margin: 0;
    padding: 0;
    width: 100%;
    color: black;
    border-radius: 10px;
    text-align: center;
    padding: 10px 15px;
    margin-bottom: 100px;
    cursor: pointer;
    border: none;
}

.btn-sair:active {
    background-color: yellowgreen;
}

.kpi-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 40px;
}

.kpi-card {
    background-color: white;
    border: 2px solid #07541db4;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 48%;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    color: black;
}

.kpi-card h3 {
    margin: 0 0 10px 0;
    font-size: 1.2rem;
    color: #333;
}

.kpi-card span {
    font-size: 2rem;
    font-weight: bold;
    color: black;
}

.graficos-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.grafico {
    width: 38%;
    display: flex;
    justify-content: center;
}

.display-none {
    display: none;
}

.display-flex {
    display: flex;
}

.display-block {
    display: block;
}

canvas {
    width: 100% !important;
    height: 100% !important;
}