* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Monocraft', monospace, Arial, Helvetica, sans-serif;
  text-shadow: 0px 1px 1px rgb(50, 50, 50);
}

@font-face {
    font-family: 'Monocraft';
    src: url('https://cdn.jsdelivr.net/gh/IdreesInc/Monocraft@main/dist/Monocraft-ttf/Monocraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

