main{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-image: url('./assets/fundo/vila-noite.png');
    background-size: cover;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 50px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    padding: 30px;
    margin: 0 0 30px;
    border-radius: 10px;
    font-size: x-large;
    border: solid #2d512e 3px;
    background-color: hsl(83, 89%, 79%);
}
.grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 15px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    max-height: 100vh;
}

.carta{
    aspect-ratio: 3/4;
    width: 100%;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
    border-radius: 10px;
}

.face{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    border: solid 3px #2d512e;
    background-position: center;
    background-size: cover; 
}

.frente{
    transform: rotateY(180deg);
}

.costas{
    background-image: url("assets/fundo/fundo-card-verde.png");
    backface-visibility: hidden;

} 

.revelar-carta{
    transform: rotateY(180deg);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.disable-carta{
    filter: saturate(0);
    opacity: 0.5;
    transition: all 1000ms ease;
}