    .body{
        background-color: rgba(0, 0, 0, 0.5);
        background-image: url(assets/fundo/fundo-terra-escuro.png);
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        flex: 1;
    }

    .nav{

        background-color: whitesmoke;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 45px;
        margin: 0;
        box-shadow: 2px 5px 7px rgba(50, 50, 50, 0.595);
        position: relative;
        z-index: 1;

    }

    .logo img{
        
        height: 60px;
        width: auto;
        
    }

    .topic ul{
        
        display: flex;
        list-style: none;
        gap: 100px;
        padding: 0;
        margin: 0;
        font-size: large;
        
    }
    a{

        text-decoration: none;
        color: black;
        font-weight: bold;
    }

    a:hover{

        color: #134e20;
    }
    .main-index{
        flex: 1;
    }

    .main-login{
        flex: 1;
    }
    #img-minecraft{
        max-width: 1540px;
        min-width: 400px;
        max-height: 1300px;
        min-height: 1000px;
        margin: auto;
        position: relative;
        
    }

    #img-minecraft > #img1{
        width: 100%;
        height: 100%;
    }

    #div-seja-bem-vindo{
        background-color: #3b3d3a;
        padding: 20px;
        width: 900px;
        height: 410px;
        margin: 70px auto;
        box-shadow: 0px 5px 20px rgb(50, 50, 50);
    }

    #div-seja-bem-vindo > h1 {
        
        text-shadow: 0px 6px 1px rgb(50, 50, 50);
        color: white;
        padding: 0 0 15px 220px;
        font-weight: lighter;
        font-size: xxx-large;
    }
    .menu-conta{
        display: flex;
        flex-direction: row;
    }
    .menu-conta a{
        padding: 10px;
    }
    .menu-conta button{
        padding: 10px;
        margin: 10px;
        font-size: large;
        border: none;
    }
    .menu-conta button:hover{
        background-color: rgb(234, 234, 234);
    }

    .div-cinza-claro{

        background-color: #6e6e6e;
        width: 70%;
        height: 80%;
        padding: 15px;
        color: white;
        font-weight: lighter;
        text-shadow: 0px 3px 1px rgb(50, 50, 50);
        font-size: x-large;
        text-align: justify;

        box-shadow: 0px 5px 20px rgb(50, 50, 50);
    }

    #img-minecraft > #img2{

        position: absolute;
        top: 957px;
        left: 983px;
        width: 387px;
        height: 288px;
        object-fit: cover;
        box-shadow: 0px 5px 20px rgb(50, 50, 50);
    }

    #conteiner{

        box-sizing: border-box;
        height: auto;
        width: auto;
        display: flex;
        justify-content: space-around

    }

    #conteiner > div{
        background-color: #3b3d3a;
        height: 500px;
        width: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 5px 20px rgb(50, 50, 50);
    }

    .div-filho{

        background-color: #6e6e6e;
        height: 90%;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 5px 20px rgb(50, 50, 50);
        margin: 30px 0 30px 0;
    }

    .botao-mine{

        
        margin-top: 20px;
        padding: 20px;
        width: 250px;
        border: 3.5px solid black;
        background-color: #6c6c6c;

        color: white;
        font-family: 'Monocraft';
        text-shadow: 0px 2px 1px rgb(50, 50, 50);
        font-weight: 400;
        font-size: x-large;
        box-shadow: inset 3px 3px 2px rgba(224, 222, 222, 0.464), 
                    inset -3px -5px 2px rgba(28, 28, 28, 0.271);
        

    }

    .botao-mine:hover{

        border-color: white;
    }

    .botao-mine:active{

        background-color: rgb(162, 162, 162);
    }

    .botao-mine2{
        
        
        margin-top: 20px;
        padding: 10px;
        width: 250px;
        border: 3.5px solid black;
        background-color: #6c6c6c;

        color: white;
        text-shadow: 0px 2px 1px rgb(50, 50, 50);
        font-weight: 400;
        font-size: x-large;
        box-shadow: inset 3px 3px 2px rgba(224, 222, 222, 0.464), 
                    inset -3px -5px 2px rgba(28, 28, 28, 0.271);
        

    }

    .botao-mine2:hover{

        border-color: white;
    }

    .botao-mine2:active{

        background-color: rgb(162, 162, 162);
    }



    .div-filho #img1{

        height: 250px;
        width: 250px;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .div-filho #img2{

        height: 300px;
        width: 300px;
        margin-top: 20px;
    }

    .div-filho #img3{

        height: 300px;
        width: 130px;
        margin-bottom: 28px;
    }

    .footer{
        background-color: #3b3d3a; 
        margin-top: 70px;
        padding: 15px;
        box-shadow: 0px -3px 3px 2px rgba(40, 39, 39, 0.477);
    }

    .footer div{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 5px 20px 5px 20px;
        color: rgb(185, 182, 182);
    }

    .footer p{

        font-weight: lighter;
        padding-left: 20px;
    }

    #div_login{

        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 100px;
    }

    .div-pai{

        background-color: #3b3d3a;
        width: 600px;
        height: auto;
        box-shadow: 0px 5px 20px rgba(23, 23, 23, 0.478);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #div_login_filho > h1{

        
        padding: 48px 40px 40px 40px;
        color: white;
        text-shadow: 0px 3px 1px rgb(50, 50, 50);
        font-weight: lighter;

    }

    #div_neto{

        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        margin-bottom: 0px;
        width: 350px;   
        box-sizing: border-box;
    }

    #div_neto > span{

        
        color: white;
        font-weight: lighter;
        text-shadow: 0px 2px 1px rgb(50, 50, 50);
    }

    #div_neto > input{

        
        padding: 0px 0px 0px 5px;
        margin-bottom: 10px;
        font-size: 25px;
        width: 300px;
        height: 45px;
        background-color: rgba(0, 0, 0, 0.677);
        border: 3px solid white;
        color: white;
        user-select: none;
        caret-shape: underscore;
        caret-animation: manual;
    }

    #div_neto > input:focus{

        outline: none;
    }

    #div_pai_cadastro{
        
        background-color: #3b3d3a;
        box-sizing: border-box;
        width: 550px;
        height: auto;
        box-shadow: 0px 5px 20px rgba(23, 23, 23, 0.478);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 20px 20px 20px;
    }

    .div-button{

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .erro-cadastro{
        color: rgb(255, 255, 255);
        font-weight: lighter;
        font-size: small;
        text-shadow: 0px 1px 1px rgb(50, 50, 50);

    }

    .erro{

        padding: 0px 15px 45px 15px;
        text-align: center;
        color: rgb(255, 255, 255);
        font-weight: lighter;
        text-shadow: 0px 1px 1px rgb(50, 50, 50);
    }

    .concluido{

        padding: 30px 15px 15px 15px;
        
        color: rgb(255, 255, 255);
        font-weight: lighter;
        text-align: center;
        text-shadow: 0px 1px 1px rgb(50, 50, 50);
        max-width: 100%;

    }

    #div_but_cad{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    html{
        scroll-behavior: smooth;
    }

    .conteiner-grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        max-width: 92vw;
        margin: 50px auto 50px auto;
        background-color: #6c6c6c;
        padding: 20px 20px 20px 0;
        border: ridge 15px white;
        box-shadow: 0px 5px 20px rgba(23, 23, 23, 0.478);
        letter-spacing: 0.7px;
        line-height: 1.3;

    }

    .texto{

        display: flex;
        flex-direction: column;
        min-width: 180px;
        min-height: 100%;
    } 

    .quadro{
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;    
    }

    .quadro img {
        width: 100px;
        height: 100px;
        margin: 10px 20px 10px 10px;
    }